<header class="py-3 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <span class="fs-4">Desafio CERTICOM</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLinkActive="active" [routerLink]="'clientes'" class="nav-link">Clientes</a></li>
      <li class="nav-item"><a routerLinkActive="active" [routerLink]="'productos'" class="nav-link">Productos</a></li>
      <li class="nav-item"><a routerLinkActive="active" [routerLink]="'ventas'" class="nav-link">Ventas</a></li>
    </ul>
  </div>
</header>
<main class="flex-shrink-0">
  <div class="container py-4">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer py-3 bg-light">
  <div class="container">
    <span class="text-muted">Hecho por <a href="https://github.com/jhormanrus">jhormanrus</a></span>
  </div>
</footer>